
      <div class="card">
        <div class="card-img-wrap">
          <img *ngIf= "Property.Img" class="card-img-top" src="assets/Images/{{Property.Img}}.jpg">
          <img *ngIf="!Property.Img" class="card-img-top" src="assets/Images/Housemin.png">
          <ul class="list-inline text-center member-icons animate">
            <li class="list-inline-item">
              <button class="btn btn-primary" routerLink="/property-detail/{{Property.Id}}"><i class="far fa-edit"></i></button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-primary"><i class="fas fa-address-book"></i></button>
            </li>
          </ul>
        </div>
          <div class="card-body p-2">
              <h3>{{Property.Type}}</h3>
              <h3>{{Property.Prize}}</h3>
              <h3>{{Property.LOT}}</h3>
          </div>

      </div>

