<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Please Login to Deepville
      </div>
      <div class="card-body">
        <form (ngSubmit)="onLoginSubmit(LoginForm)" #LoginForm ="ngForm">
          <div class="form-group col-12">
            <label>Username</label>
            <input type="text" class="form-control" name="Name" #Login ="ngModel" ngModel required>
            <span *ngIf="!Login.valid && Login.touched" class="Error-block">Please provide username</span>
          </div>
          <div class="form-group col-12">
            <label>Password</label>
            <input type="password" class="form-control" name="Password" #Password="ngModel" ngModel required>
            <span *ngIf="!Password.valid && Password.touched" class="Error-block">Please provide password</span>
          </div>
          <div>
            <button [disabled]="!LoginForm.valid" type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-secondary m-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
